.title {

background-color: white;
color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
padding: 20px;
margin: 10px;
border: 3px solid rgb(0, 0, 0);
text-align: center;
border-radius: 30px;


}


li {

    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    border: 3px solid black;
    text-align: center;
    list-style: none;
    display: block;
    align-self: center;
    border-radius: 10px;
    }

.subtext {

    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 200;
    padding: 10px;
    margin: 5px;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    
    
}

.image {

    margin: 5px;
    text-align: center;

}

html {
    
    background-color: rgb(162, 13, 13)  ;
}

a {
    
    display: block;
    width: auto;
    font-size: 25px;
    font-weight: 100;
    outline: none;
    text-decoration: none;
    color: rgb(162, 13, 13);
}